header {
  background: initial;
  background-color: #a6a4df;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header img {
  margin: 0 50px;
}

/* Primary Navigation */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 3px 0;
  padding: 0 4px;
}

nav li a, nav li a:link, nav li a:active {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
  color: #272757;
}

nav li a:hover {
  color: #e6e7ee;
  text-decoration: underline;
  font-size: 1.3rem;
}

/* Dropdown Nav */
nav > ul li {
  font-family: "Old Standard TT";
  width: 100px;
  position: relative;
  text-align: left;
  font-weight: 600;
  font-size: 1rem;
  color: #272757;
  margin-bottom: 2px;  list-style-type: none;

}

nav ul > li ul {
  position: absolute;
  padding: 5px;
  margin-top: 10px;
  display: none;
}

ul li #dropdown {
  border-radius: 5px;
  font-size: 1rem;
}

nav > ul > li:hover > ul {
  display: block;
background-color: #a6a4df;
}