header {
  background: initial;
  background-color: #a6a4df;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header img {
  margin: 0 50px;
}

/* Primary Navigation */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 3px 0;
  padding: 0 4px;
}

nav li a, nav li a:link, nav li a:active {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
  color: #272757;
}

nav li a:hover {
  color: #e6e7ee;
  text-decoration: underline;
  font-size: 1.3rem;
}

/* Dropdown Nav */
#dropdown {
  position: relative;
}

#dropdown-content {
  position: absolute;
  top:100%;
  z-index: 1;
  background-color: #a6a4df;
  padding: 3px 5px;
  margin: 2px 6px;
  display: none;
}

#dropdown-content a {
float: none;
color: #272757;
font-size: 1rem;
padding: 3px 0px;
text-decoration: none;
display: block;
width: 150px;
}

#dropdown-content a:link, #dropdown-content a:active {
  color: #272757;
  font-size: 1rem;
}

#dropdown:hover #dropdown-content, #dropdown-content a:hover {
  display: block;
  color: #e6e7ee;
}
