header {
  background: initial;
  background-color: #a6a4df;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 3px 0;
  padding: 0 4px;
}

nav li a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bolder;
  color: #272757;
}

nav li a:hover {
  color: #e6e7ee;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
