/* Main Styles */

body {
  box-sizing: border-box;
  background-color: #e6e7ee;
  font-size: 22px;
  padding: 0;
  margin: 0;
  height: 100vh;
}

h1 {
  font-family: "Roboto Mono", sans-serif;
  color: #272757;
  font-size: 2rem;
  display: inline-block;
  margin: 0;
}

p,
a {
  font-family: "Old Standard TT", serif;
  color: #272757;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

blockquote {
  font-size: 0.8rem;
  font-weight: bold;
  font-style: italic;
  margin-top: 10px;
  padding: 5px 15px;
}


/* About Me Styles */
#about-me {
  font-size: 3rem;
  display: grid;
  grid-template-columns: 250px auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  margin: 20px;
  gap: 10px;
}

#about-me h1 {
  grid-column: 1 / span 4;
}

#about-me h2 {
  grid-row: 3;
  grid-column: 1 / span 3;
  margin: 0;
  font-size: 1rem;
}

#about-me p {
  padding: 8px 10px;
  margin: 0 4px;
  line-height: 1.5;
}

#about-me p:nth-child(2) {
  background-color:#a6a4df;
  border-radius: 10px;
  grid-row: 2 / 2;
  grid-column: 2 / span 2;
}

#about-me p:nth-child(4) {
  text-indent: 20pt;
  grid-row: 4;
  grid-column: 1 / 4;
}

#about-me p:nth-child(6) {
  background-color:#a6a4df;
  border-radius: 10px;
  grid-row: 5;
  grid-column: 1 / span 2;
}

#about-me p:nth-child(7) {
  text-indent: 20pt;
  grid-row: 6;
  grid-column: 1 / span 2;
}

/* Image Styles */
img.profile-pic {
  width: auto;
  height: 200px;
  border-radius: 15px;
  grid-row: 2;
  grid-column: 1;
  justify-self: center;
  align-self: center;
}

img.placeholder {
  width: 250px;
  height: 200px;
  grid-row: 5 / span 2;
  grid-column: 3;
  justify-self: center;
  align-self: center;
}

/* About Me education styles */

.education {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
}

.education h2 {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1.5rem;
  grid-column: 1 / span 3;
  margin: 0;
  padding: 10px 40px;
}

.education ul  {
  font-family: "Old Standard TT", serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
  padding: 5px 3px;
  margin: 0 20px;
  list-style-position: inside;
  grid-row: 2;
  grid-column: 1 / span 2;
}

.education ul li {
  padding:  10px 13px;
  line-height: 1.5;
}

.education ul li:nth-child(1){
  background-color: #272757;
  color: #e6e7ee;
  border-radius: 10px;
}

.education ul li:nth-child(3){
  background-color: #272757;
  color: #e6e7ee;
  border-radius: 10px;
}

/* About Me resume styles */

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  background-color: #a6a4df;
  border-radius: 50%;
  border: none;
  margin: 10px;
  padding: 10px;
  grid-row: 2;
}

.resume h3 {
  font-family: "Roboto Mono", sans-serif;
  padding: 0;
  margin: 25px;
  color: #272757;
}

.resume a {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  line-height: 2;
  text-decoration: none;
  color: #a6a4df;
  font-family: "Old Standard TT", serif;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #272757;
}

.resume a:link {
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 5px #a6a4df;
}

.resume a:hover {
  text-decoration: underline;
  color: #e6e7ee;
}

/* About Me media styles */

.media {
  grid-row: 3;
  grid-column: 1 / span 3;
  background-color: #e6e7ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}

.media h3 {
  margin: 10px 0;
}

/* About Me video styles */

video {
  color: #a6a4df;
  border-top: 1px solid #272757;
  border-left: 1px solid #272757;
  border-radius: 10px;
  width: 400px;
  height: 230px;
  background-color: #272757;
  margin: 0;
  padding: 10px;
}

figure {
  display: block;
  margin: 10px 0;
  padding: 0;
  text-align: center;
}

figcaption {
  font-size: .8rem;
  font-weight: bold;
}


/* Contact Page Styles */

#contact-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact-title {
  background-color: #a6a4df;
  border-radius: 12px;
  width: 400px;
  height: 300px;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-title h1 {
  font-family: "Robato Mono", serif;
  font-size: 3rem;
  line-height: 2;

}

.contact-title p {
  font-family: "Old Standard TT", sans-serif;
  font-size: 1rem;
}

form {
  margin:25px;
  width: 500px;
}

fieldset {
  padding: 0;
  margin: 0;
}

fieldset.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#email {
 margin-bottom: 10px;
}

fieldset {
  margin-top: 10px;
}

fieldset.contact-type {
  display: block;
}

fieldset.message-field {
  display: flex;
  flex-direction: column;
}

fieldset p {
  font-size: 1rem;
  line-height: 2;
  font-family: "Old Standard TT", sans-serif;
  margin-left: 10px;
}

select {
  width: 25%;
  padding: 5px 3px;
  margin: 0;
}

select, input[type="text"], input[type="email"] {
  height: 25px;
}

input[type="text"], input[type="email"] {
  width: 50%;
  margin: 0;
  padding: 0 3px;
}

textarea {
  margin: 10px 0;
  padding: 10px 8px;
}

label.user-info {
  font-size: 1rem;
  line-height: 2;
  font-family: "Old Standard TT", sans-serif;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

label.message-type {
  font-size: 1rem;
  line-height: 2;
  font-family: "Old Standard TT", sans-serif;
  margin: 10px;
}

legend {
  font-size: 1rem;
  font-family: "Roboto Mono";
}

button {
  width: 150px;
  height: 50px;
  margin: 10px 0;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  box-shadow: .8px .8px .8px #272757;
  cursor: pointer;
  background-color: #a6a4df;
  font-size: 1.3rem;
  color: #272757;
}

button:hover {
  background-color: #272757;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .contact-title {
    height: 200px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px){
    #contact-page {
      flex-direction: column;
    }

    .contact-title {
      width: 75%;
      height: 100px;
      margin-bottom: 0;
      margin-top: 25px;
    }

    .contact-title h1 {
      font-size: 2rem;
    }

    .contact-title p {
      font-size: .5rem;
      margin-bottom: 10px;
    }

    form {
     width: 75%;
     margin-top: 25px;
    }

    fieldset.contact-type {
      margin-top: 0;
    }

    textarea {
      margin-top: 0;
    }
}

/* Hero Styles */
.hero {
  margin: 0;
  padding: 0;
  height: 100%;
  background:
    linear-gradient(rgba(237, 234, 234, 0.557), rgba(233, 233, 233, 0.789)),
    url("media/images/background-pencil.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.hero div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: space-evenly;
}

.hero div p {
  background-color: #a6a4df;
  text-align: right;
  align-self: flex-end;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 8px 12px;
  font-weight: 600;
}

.hero h1 {
  background-color: #a6a4df;
  align-self: flex-start;
  text-align: center;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-top: 50px;
  padding: 5px 12px;
}

.hero div a {
  background-color: #e6e7ee;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.207);
  padding: 8px 10px;
  margin: 0 20px;
  width: 150px;
  align-self: flex-end;
  position: relative;
}

.hero a:hover {
  background-color: #a6a4df;
  color: #e6e7ee;
}

/* Reflection Styles  */
.container {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
  height: 100%;
}
#reflection {
  margin: 0 50px;
  margin-bottom: 25px;
}


#reflection h1{
  margin-top: 10px;
}

#reflection h2 {
  font-weight: 600;
  font-family: "Roboto Mono", sans-serif;
  margin: 5px 0;
}

#reflection p:nth-child(3) {
  background-color: #e6e7ee;
  text-indent: 2rem;
}

#reflection p:nth-child(5) {
  background-color: #e6e7ee;
}

#reflection p:nth-child(6) {
 text-indent: 2rem;
}

#reflection p:nth-child(2)::first-letter {
  font-size: 150%;
}

#reflection p:nth-child(4) {
  background-color: #e6e7ee;
}

#reflection p {
  background-color: #a6a4df;
  padding: 10px 8px;
}

/* Footer */

footer {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 60px;
  background-color: #a6a4df;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 3px 5px;
}

footer img {
  border-radius: 3px;
}

footer p, a {
  font-size: .8rem;
  text-decoration: none;
}

footer p:nth-child(3) {
  display: flex;
  align-items: center;
}

footer p:nth-child(3) img {
  margin: 0px 8px;
}

/* Print Media */

@media print {

  body, #about-me, p {
    background-color: #FFF;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    font-size: 12pt;
  }

  #about-me p {
    padding: 0;
    text-indent: 20px;
    background-color: #FFF;
  }

  #about-me p:nth-child(2), #about-me p:nth-child(5), 
  .education ul li:nth-child(1), .education ul li:nth-child(3), header {
    background-color: #FFF;
    color: #000;
  }

  .resume {
    margin: 0;
    padding: 0;
    background-color: #FFF;
  }

  .resume a:link {
    text-shadow: none;
  }

 #about-me p:nth-child(3), H3, img, nav ul li, .media video, figure, footer, header {
    display: none;
  }

  h1 {
    margin-top: 5px;
  }

  h1, h2, h3 {
    font-size: 14pt;
    color: #000;
  }

  .education ul li{
    font-size: 10px;
    color: #000;
  }
  

}